.footer {
  backdrop-filter: blur(20px);
  padding: 1rem;
  text-align: center;
  color: #59110d;
  border-top: 1px solid;

  @include breakpoint(xl) {
    color: white;
  }

  &-socials-container {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    svg {
      height: 18px;
      fill: #59110d;

      @include breakpoint(lg) {
        height: 36px;
      }

      @include breakpoint(xl) {
        height: 24px;
        fill: white;
      }
    }
  }
}
