.footer {
  padding: 30px 1.5rem 30px 1.5rem;
  background-color: #b0241c;
  color: white;

  &-logo-container {
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    text-align: center;
    margin-top: 2rem;

    @include breakpoint(md) {
      text-align: left;
      margin-top: 0;
    }

    &-header {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    &-item {
      font-style: italic;
      font-size: 12px;
      color: white;
      text-decoration: none;
    }
    &-policy {
      margin-top: 1rem;
      justify-content: center;

      @include breakpoint(md) {
        justify-content: flex-start;
      }

      &-item {
        color: white;
      }
    }
  }
}
