.about-page {
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  grid-template-areas:
    "video"
    "content";

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "video content";
  }

  &-video {
    grid-area: video;
    display: flex;
    align-items: flex-end;
    text-align: center;
    height: calc(100vh - $mobile-navbar-size - 1.5rem);
    width: 100%;

    video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    grid-area: content;
  }

  &-description {
    margin: 0 !important;
    line-height: 1.5;
  }

  &-services {
    padding: 1.5rem 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-labels {
      }

      &-description {
        line-height: 1.5;
      }
    }
  }
}
