.job-detail {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 2.5vh;

  &-header-video-container {
    width: 100%;

    video {
      object-fit: contain;
      width: 100%;
    }
  }
  &-content {
    display: grid;

    @include breakpoint(md) {
      grid-template-columns: 30% 70%;
    }

    &-client-title {
      font-size: 4rem;
      line-height: 1;

      @include breakpoint(md) {
        margin-bottom: 0;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include breakpoint(md) {
        margin-top: 1.3rem;
      }

      &-paragraphs {
        line-height: 1.5;
      }

      &-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        @include breakpoint(md) {
          grid-template-columns: 30% 1fr;
        }

        &-title {
          font-weight: bold;
        }

        &-content {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          @include breakpoint(md) {
            flex-direction: row;
          }
        }
      }
    }
  }

  .portfolio-media {
    display: flex;
    flex-direction: column;
  }

  .media-row {
    display: flex;
  }

  .media-group {
    display: flex;
  }

  .media-item {
    position: relative;
    overflow: hidden;
  }

  .media-item img,
  .media-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
