.job-detail {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 2.5vh;
  &-content {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;

    &-row {
      display: grid;

      @include breakpoint(md) {
        grid-template-columns: 40% 60%;
      }

      &-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      &-description {
        line-height: 1.5;
      }
    }
  }
  .image-gallery {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spazio tra le righe */
  }

  .image-row {
    display: flex;
  }

  .image-item {
    position: relative;
    overflow: hidden;
  }

  .image-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  .full-width {
    flex: 1;
  }

  .half-width {
    flex: 0.5;
  }

  /* Media query per schermi mobili */
  @media (max-width: 768px) {
    .image-row {
      flex-direction: column;
    }

    .image-item {
      flex: 1 0 100%;
    }
  }
}
