.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem 1.5rem;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.608);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  &-logo-container {
    img {
      height: 45px;
    }
  }

  &-socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    a {
      &:hover {
        cursor: pointer;

        svg {
          fill: $primary-color;
        }
      }

      svg {
        height: 18px;
        fill: $secondary-color;

        @include breakpoint(xl) {
          height: 24px;
        }
      }
    }
  }
}
