.landing-page {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2.5rem;
  color: #59110d;

  &-logo-container {
    text-align: center;
    img {
      width: 50%;

      @include breakpoint(md) {
        width: 30%;
      }

      @include breakpoint(xl) {
        width: 15%;
      }
    }
  }
  &-content {
    padding-top: 2rem;
    text-align: center;

    @include breakpoint(xl) {
      padding-top: 4rem;
    }

    &-work-in-progress {
      text-decoration: underline;
      margin-bottom: 0.5rem;
      letter-spacing: 2.5px;
    }

    &-slogan {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include breakpoint(md) {
        font-size: 4rem;
      }

      @include breakpoint(xl) {
        font-size: 4rem;
      }
    }

    &-cta {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      font-weight: bold;
      background-color: #b0241c;
      color: white;
      font-size: 1rem;
      transition: box-shadow 0.3s ease-in-out;
      text-decoration: none;
      font-family: Abril;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
      }

      @include breakpoint(lg) {
        font-size: 1.5rem;
      }

      @include breakpoint(xl) {
        font-size: 1rem;
      }
    }
  }
}
