$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1921px,
);

@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    $breakpoint-value: map-get($breakpoints, $name);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$name}. Please use one of: #{map-keys($breakpoints)}";
  }
}
