.parallax-image-container {
  display: flex;
  .container {
    position: relative;

    .parallax-image {
      object-fit: contain;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
